 body {
     background-color: wheat;
     margin: 0px;
     padding: 0px;
 }

 header {
     margin: 10px;
     background-color: white;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .main-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
 }

 .main-item {
     margin: 10px;
     background-color: white;
     width: 15%;
     height: 30em;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .main-item:hover {
     box-shadow: 0 4px 100px rgba(0, 0, 0, 0.7);
 }

 footer {
     background-color: grey;
     color: lightgray;
 }