@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #dedede;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: wheat;
    height: 10vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-item {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.main-item {
    margin: 10px;
    background-color: white;
    width: 90vw;
    height: 70vh;
}

.main-item:hover {
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.3);
}

#parrot-img {
    background-image: url(../img/parrot.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#lion-img {
    background-image: url(../img/lion.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#turtle-img {
    background-image: url(../img/turtle.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.parrot-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#parrot-inner-container {
    padding: 5vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

.parrot-inner-item {
    padding: 5vw;
}

footer {
    margin: 0px;
    background-color: wheat;
}

@media only screen and (min-width: 768px) {
    .main-item {
        width: 45vw;
        height: 50vh;
    }
}

@media only screen and (min-width: 1200px) {
    .main-item {
        width: 30vw;
        height: 70vh;
    }
}