 body {
     background-color: wheat;
     margin: 0px;
     padding: 0px;
 }

 header {
     margin: 10px;
     background-color: white;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .main-container {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
 }

 .main-item {
     margin: 10px;
     background-color: white;
     width: 45%;
     height: 20em;
     border-radius: 10px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .main-item:hover {
     box-shadow: 0 4px 100px rgba(0, 0, 0, 0.7);
 }

 #primera-imagen {
     background-image: url(../img/loro.jpg);
     background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
 }

 footer {
     margin: 0px;
     background-color: grey;
     color: lightgray;
 }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .main-item {
         margin: 10px;
         background-color: white;
         width: 30%;
         height: 30em;
         border-radius: 10px;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     }
 }

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}

 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
     .main-item {
         margin: 10px;
         background-color: white;
         width: 30%;
         height: 35em;
         border-radius: 10px;
         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     }
 }